$primary-color: #6992bf;
$text-color: #aac3be;
$second-color: #4f7fb3;
$third-color: #4b93e0;
$main-gutter: 20px;
$mainColor1: #5ac9fe;
$mainColorp: #9b9b9b;
$mainColor2: #f9f9f9;
$mainColor3: #17223e;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: tahoma;
  transition: all 0.3s ease;
  text-align: right;
  scroll-behavior: smooth;
}
body {
  direction: rtl;
}
/*start Nav*/
.navbar .container .navbar-brand {
  img {
    max-height: 45px;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: #848992;
  font-size: 15px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  padding: 1.5rem 12px;
  &:hover {
    color: white;
  }
}
.navbar-light .navbar-toggler {
  background-color: $mainColor1;
}
.navbar {
  border-bottom: 1px solid rgba(241, 241, 241, 0.2);
  z-index: 999999;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #2f3640;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  direction: ltr;

  .navbar-brand {
    img {
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        margin-left: 10px;
        color: #ddd;
        text-transform: uppercase;
        font-size: 14px;
        padding: 12px 10px ;
        border-radius: 4px;
        transition: 0.3s linear;
        width: 95%;

        i {
          margin-right: 8px;
          font-size: 16px;
          padding-left: 6px;

        }
        .home {
          color: #ff6b6b;
        }

        .about {
          color: #0abde3;
        }

        .works {
          color: #feca57;
        }

        .team {
          color: #5f27cd;
        }

        .contact {
          color: #1dd1a1;
        }
        &:hover {
          background: $mainColor1;
           color: #2f3640;
          transform: scale(1.1);
        }
      }
    }
  }
}
// bootestrap
.modal-header .close{
padding: 0px;
margin: 0px;
}
/*start header*/
.header {
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  max-width: 100%;
  height: 650px;
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(29, 29, 29, 0.5);
    .container {
      position: relative;
      z-index: 4;
      .banner {
        width: 100%;
        height: 100%;
        display: table;
        position: relative;
        .table-cell {
          display: table-cell;
          vertical-align: middle;
          min-height: 100%;
          height: 90vh;
          .Register {
            text-align: end;
            font-family: sans-serif;

            .handline {
              font-size: 40px;
              color: #fff;
              text-transform: uppercase;
              margin-bottom: 12px;
              margin-top: 0px;
            }
            .bio-website {
              text-transform: capitalize;
              font-size: 22px;
              color: #fff;
              line-height: 40px;
              margin-bottom: 20px;
              font-family: sans-serif;
            }
            .link-btn {
              text-decoration: none;
              .btn {
                margin-top: 0px;
                padding: 10px;
                border-radius: 10px;
                font-size: 17px;
                font-weight: bold;
                font-family: initial;
                display: block;
                background-image: linear-gradient(-45deg, #5ac9fe 0%, #04befe 100%);

                &:hover {
                  background-color: $mainColor3;
                }
              }
            }
          }
          form {
            .card {
              margin-right: auto;

              .card-body {
                text-align: center;
              }
              input {
                padding: 8px;
                border-radius: 9px;
                border: 1px solid #dbd6d6;
                margin: 3px 0px 15px;
                text-align: center;
              }
              .btn {
                padding: 8px 22px;
                border-radius: 10px;
                font-size: 15px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
// bootestrap
.modal-content {
  position: absolute;
  top: 220px;
  left: 5px;
}
.modal {
}
.email-box {
  height: 40px;
  justify-content: center;
  display: flex; /*its better to use inline-flex*/
}
.email-box i {
  background: #2f3542;
  width: 40px;
  line-height: 40px;
}
.tbox,
.btn {
  border: none;
  outline: none;
}
.tbox {
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,
.tbox:focus {
  width: 260px;
  padding: 0 10px;
}
.btn {
  background: $mainColor1;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: sans-serif;
}
 
/*Start About-one*/
.about-one {
  padding: 40px 0px;

  .about-box-img {
    margin-bottom: 50px;

    .box-img {
      position: relative;
      margin-left: 50px;

      &::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 90%;
        background-color: #f1f1f1;
        bottom: -25px;
        left: -25px;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        width: 90%;
        height: 90%;
        background-color: $mainColor1;
        bottom: -50px;
        left: -50px;
        z-index: -2;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .about-box-text {
    .sec-title {
      .sec-title-headline {
        .top-handline-title {
          color: $mainColor1;
          font-size: 18px;
          font-weight: 700px;
          text-transform: uppercase;
        }
        .handline-title {
          font-size: 31px;
          font-weight: 600;
          margin: 15px 0px 25px 0px;
          text-transform: uppercase;
        }
      }
    }
    .about-text {
      color: $mainColorp;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      margin-bottom: 22px;
      position: relative;
      padding-right: 20px;

      &::after {
        content: "";
        background-color: $mainColor1;
        position: absolute;
        width: 2px;
        height: 96%;
        top: 3%;
        right: 0px;
      }
    }
  }
}
/*start service*/
.service {
  padding: 20px 0px 50px;
  background-color: #f5f5f5;

  h1 {
    font-weight: bolder;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: sans-serif;
  }
  .box-service {
    img {
      width: 100%;
      height: 160px;
    }
    .text {
      background-color: #383737;
      padding: 5px 0px;
      h3 {
        font-size: 15px;
        color: #fff;
      }
    }
  }
}
//start Portfolio
.portfolio {
  padding: 100px 0px;
  background-image: url(../img/pexels-gustavo-fring-4254140.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  .overlay {
    background-color: rgba(29, 29, 29, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .item-box {
    text-align: center;
    color: #fff;
    font-weight: bolder;
    .fas,
    .far {
      font-size: 50px;
      margin-bottom: 20px;
      &:hover{
        color: $mainColor1;
      }
    }
    h3 {
      text-align: center;
      font-size: 20px;
      color: #d7d7d7;
    }
    span {
      text-align: center;
      font-size: 22px;
    }
  }
}
/*****contact-us******/
.contact-us {
  padding: 50px 0px;
  .button {
    text-align: center;
  }
  .sec-title-headline {
    .top-handline-title {
      font-size: 30px;
      margin-bottom: 20px;
      background-color: #5ac9fe;
      width: 17%;
      padding: 12px;
      border-radius: 8px;
    }
  }
  h3 {
    background: #e7e7e7;
    margin: 0px;
    padding: 11px;
    width: 55%;
    font-size: 20px;
  }
  .Send-information {
    padding: 10px 0px;
    .input-filed {
      border: 1px solid #ddd;
      padding: 5px;
      label {
        font-size: 13px;
      }
      span {
        color: $mainColor1;
        padding-right: 5px;
      }
      input,
      select {
        padding: 10px;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }
    .card {
      margin-top: 20px;
      width: 100%;

      h5 {
        font-size: 15px;
        font-weight: 800;
        background: #e7e7e7;
        margin-bottom: 10px;
        padding: 11px;
        width: 40%;
      }
      input {
        padding: 5px;
      }
      .btn {
         padding: 5px 15px;
        font-size: 20px;
        border-radius: 5px;
        background-image: linear-gradient(-45deg, #5ac9fe 0%, #04befe 100%);
      }
    }
  }
}
// start footer
footer {
  background-color: #f1f1f1;
  padding: 30px 0px;
  color: #fff;
  .social-media {
    margin-bottom: 20px;
    text-align: center;

    .social_item {
      margin: 10px 10px 0 0;
      text-decoration: none;
      color: #000;
      .social-icon {
        width: 50px;
        padding: 8px 6px;
        border-radius: 50%;
        i {
          &:hover {
            color: $mainColor1;
          }
        }
      }
    }
  }
  .copyright {
    color: #000;
    text-align: center;
    a{
      color: $mainColor1;
    }
  }
}
/*End Home*/
/******************************login*****************************/
.box {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 24px;
  box-shadow: 1px 1px 8px 7px #ddd;

  .logo {
    width: 70px;
    height: 65px;
  }
  h1 {
    color: $mainColor1;
    text-align: center;
  }
  a {
    font-family: "Montserrat", sans-serif;
    text-decoration: blink;
    color: #000;
    &:hover {
      text-decoration: underline;
      color: $mainColor1;
    }
  }
  p {
    font-family: "Montserrat", sans-serif;
    color: #000;
    text-align: center;
    padding: 10px 0px;
  }
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $mainColor1;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #000;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  color: #000;
  border-color: $mainColor3;
}

.box input[type="submit"] {
  border: 0;
  background: $mainColor1;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $mainColor1;
  padding: 14px 14px;
  width: 200px;
  outline: none;
  color: #000;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  &:hover {
    background: $mainColor3;
    border: 2px solid $mainColor3;
    color: #fff;
  }
}
/***********************************forget password*******************************/
.box input[type="email"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $mainColor1;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="email"]:focus {
  width: 280px;
  color: white;
  border-color: $mainColor3;
}
